body {
  background-color: black;
}

.float-right {
  float: right;
}


.var {
  width: 100%;
  
  background-color: lightblue;
}

.var input {
  height: 1.5em;
  width: 70%;
  border: 2px black;
  border-radius: 4px;
}

.xbutton{
  background: transparent; 
  color:white;
  opacity: .8;
}

.xbutton:hover{
  opacity: 1;
}

td {
  max-width: 3em;
  overflow-x: hidden;
}